<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>HTMLProject</string>
	<key>ordering</key>
	<array>
		<string>72701480-EE5E-42A1-803E-88A1355EC08A</string>
	</array>
	<key>uuid</key>
	<string>DF69CBB4-5B40-46B1-966F-CE6F7B6B28BB</string>
</dict>
</plist>
